git+https://github.com/KurimuzonAkuma/pyrogram 
tgcrypto
pymongo[srv]
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
cinemagoer
httpx[http2]
bs4
cinemagoer
datetime
pytz
gTTS
googletrans==3.1.0a0
telegraph
psutil
aiohttp
HorridAPI==1.0.41
Mangandi 
