pyrofork 
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
cinemagoer
httpx[http2]
bs4
cinemagoer
datetime
pytz
wget
aiohttp==3.7.4
gTTS
googletrans==3.1.0a0
telegraph
psutil
unidecode
httpx
aiohttp
HorridAPI==0.6
